#footer {
  width: 100%;
  height: 12vh;
  margin-top: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-color: #F1EEE9;
  color: #101010;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

#foot p {
  justify-content: center;
}


@media(min-width: 950px) {
  #footer {

    height: 18vh;
  }
}