.galeria {
    padding: 0;
    color: #0d0d0d;
    /* display: none; */

}

.galtitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 40px;
    /* font-size: 46px; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-weight: 600; */
    text-align: center;

}

.galgrid {
    display: grid;
    padding: 0;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-auto-rows: 70vh;
    color: #0d0d0d;
    font-size: 30px;
    text-align: center;
    /* grid-template-areas: "uno""dos""cuatro""tres""cinco""seis""ocho""siete"; */
}

.galgriddiv {
    height: 100%;
    width: 100%;
}

.galitem1 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/galitem1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.galitem2 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/galitem2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.galitem3 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/galitem3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.galitem4 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/galitem4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.galitem5 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/galitem5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.galitem6 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/galitem6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.galitem7 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/galitem7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.galitem8 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/galitem8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.galitem9 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/galitem9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.galitem10 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/galitem10.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.galitem11 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/galitem11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.galitem12 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/galitem12.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}




@media (min-width: 950px) {
    .galgrid {
        display: grid;
        padding: 0;
        /* gap: 10px; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 60vw;
        color: var(--blacktext);
        font-size: 30px;
        text-align: center;
        /* grid-template-areas: "uno dos""tres cuatro""cinco seis""siete ocho"; */

    }

    .galeria {
        padding: 50px;
    }

    .galtitle {

        margin-top: 80px;
        margin-bottom: 40px;

    }
}