.gridimg {

    display: grid;
    padding: 0;
    /* gap: 10px; */
    grid-template-columns: 1fr;
    grid-auto-rows: 100vw;
    color: #0d0d0d;
    font-size: 30px;
    text-align: center;
    grid-template-areas: "uno""dos""cuatro""tres""cinco""seis""ocho""siete";

}

.cateringtitle {

    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    margin-top: 70px;
    margin-bottom: 70px;
    /* font-size: 46px; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-weight: 600; */
    text-align: center;

}

.griddiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.griddiv h3 {
    font-size: 40px;
    align-self: center;
    /* font-family: 'Montserrat', sans-serif; */
    margin-bottom: 30px;
}

.griddiv p {
    font-size: 20px;
    align-self: flex-start;
    margin-bottom: 15px;
    padding: 0 15px;
}

.griddivitem1 {

    background-color: #F1EEE9;
    grid-area: uno;
}

.griddivitem2 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/grid1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% center;
    grid-area: dos;
}

.griddivitem3 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/grid2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 90%;
    grid-area: tres;
}

.griddivitem4 {
    /* background-color: #CEE5D0; */
    background-color: #DFE8CC;

    grid-area: cuatro;
}

.griddivitem5 {
    /* background-color: #ffe6cf; */

    background-color: #fffdde;
    padding-top: 20px;
    grid-area: cinco;
}

.griddivitem5>h3 {
    margin-bottom: 10px;
}

.griddivitem5>p {
    font-size: 16px;
}

.griddivitem6 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/grid3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 70%;
    grid-area: seis;
}



.griddivitem7 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("img/grid4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 70%;
    grid-area: siete;
}

.griddivitem8 {
    background-color: #f0ebe3;
    grid-area: ocho;
    padding-top: 20px;
}

.griddivitem8>h3 {
    margin-bottom: 10px;
}

.griddivitem8>h3>br {
    margin: 0px;
}


.griddivitem8>p {
    font-size: 16px;
}


@media (min-width: 950px) {
    .gridimg {
        display: grid;
        padding: 0;
        /* gap: 10px; */
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 50vw;
        color: var(--blacktext);
        font-size: 30px;
        text-align: center;
        grid-template-areas: "uno dos""tres cuatro""cinco seis""siete ocho";

    }

    .griddiv {
        padding: 50px;
    }

    .cateringtitle {
        font-size: 45px;
    }

    .griddivitem5 {
        /* background-color: #ffe6cf; */

        background-color: #fffdde;
        padding-top: 20px;
        grid-area: cinco;
    }

    .griddivitem5>p {
        font-size: 18px;
    }

    .griddivitem8 {
        background-color: #f0ebe3;
        grid-area: ocho;
        padding-top: 20px;
    }

    .griddivitem8>p {
        font-size: 18px;
    }
}