.imgfondo1 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 100%;
}

.imgfondo2 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img/fondo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;
}


.imgfondo3 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img/fondo3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 52% 100%;
}

.imgfondo4 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img/fondo4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35% 100%;
}

@media(min-width: 950px) {
    .imgfondo1 {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("img/fondoh1.jpg");
        background-position: 100% 60%;
    }

    .imgfondo2 {
        background-position: 100% 60%;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("img/fondoh2.jpg");
    }

    .imgfondo3 {
        background-position: 100% 30%;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("img/fondoh3.jpg");
    }

    .imgfondo4 {
        background-position: 100% 50%;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("img/fondoh4.jpg");
    }

    /* .imgfondo4 {
        background-position: 100% 100%;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("img/fondo2h.jpg");
    } */

}