.imgfondo1 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;
}

.imgfondo2 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img/fondo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 100%;
}

.imgfondo3 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img/fondo3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 52% 100%;
}

.imgfondo4 {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img/fondo4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35% 100%;
}

@media(min-width: 950px) {
    .imgfondo1 {
        background-position: 100% 10%;
    }

    .imgfondo2 {
        background-position: 100% 60%;
    }

    .imgfondo3 {
        background-position: 100% 50%;
    }

    .imgfondo4 {
        background-position: 100% 60%;
    }

}