*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'circular';
  src: url('/fonts/Circular-Std-Book.otf');
}

@font-face {
  font-family: 'circularm';
  src: url('/fonts/Circular-Std-Medium.otf');
}

@font-face {
  font-family: 'contax';
  src: url('/fonts/Contax.Sans.W01.65.Medium.ttf');
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root {
  --basecolor: rgb(0, 0, 0);
  --complementcolor: #ffe500;
  --whitetext: rgb(240, 240, 240);
  --blacktext: rgb(5, 5, 5);
  --navbar-shallow-color: #e5e5e5;
  --menu-mobile-background-color: #31353d;
}


body {
  /* background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)), url("img/fondoamarillo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; */
  /* font-family: 'Roboto Condensed', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Comfortaa', cursive; */
  /* font-family: 'Caveat', cursive; */
  /* font-family: 'Ubuntu Condensed', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  /* background-color: var(--basecolor); */
  color: var(--blacktext);
  /* padding-top: 70px; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)), url("img/espejadamobile.png"); */
  /* background-size: cover; */
  /*   background-repeat: repeat;
  background-size: 130%; */
  /* box-sizing: border-box; */
}

a {
  text-decoration: none;
  color: var(--complementcolor);
}

section {
  padding: 0px 15px 25px 15px;
}


br {
  display: block;
  content: "";
  margin: 10px 0;
}


/* .fill {
  height: 45vh;
} */

@media (min-width: 950px) {
  body {
    /* background-image: linear-gradient(0deg,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)), url("img/espejadadesktop.png"); */
    /* background-size: cover; */
    background-repeat: repeat;
    background-size: 130%;
  }

  section {
    padding: 0px 70px 70px 70px;
  }

}