.skills {
  max-width: 980px;
  margin: 0 auto;
  /* background-color: #7d9aac; */
}

.skills-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

/* .skills-skill {
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 10px #000000;
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 10px;
  background-color: #cee8dc3e;
} */
.skills-skill {
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 10px #0000001d;
  border-radius: 5px;
  padding: 0.5em 0.7em;
  margin: 10px;
  background-color: #cee8dc10;
}


.skills-skill>img {
  height: 20px;
}

.skills-list {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media(min-width: 950px) {
  .skills-title {
    font-size: 35px;
  }

  .skills-skill {
    font-size: 18px;
    margin: 20px;
  }

  .skills-skill>img {
    height: 25px;
  }
}