.portada {
    /* height: 100vh; */
    padding: 0;
    color: #f2f5f7;
    text-align: center;
    font-weight: 700;
    height: 100vh;
    width: 100%;
}

/* .hotel {
    font-size: 30px;
    margin: 0;
} */
.imgcontainer {
    display: flex;
    width: 10%;
    height: 100%;
    align-content: flex-end;
    justify-content: center;
    margin: auto;

}

.logoportada {
    object-fit: contain;
    width: 70vw;

}

.portadatitulo {
    font-size: 100px;
    margin: auto;
    margin-top: auto;
    color: #f2f5f700;
}



.portada>hr {
    width: 50px;
    border-top: 3px solid #ffffff;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: auto;
}

.slogan {
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}


.ourplace {
    font-size: 35px;
    font-weight: 600;
    color: #f2f5f7;
    margin-top: 120px;
    margin-bottom: 0px;
}

@media (min-width: 950px) {

    .imgcontainer {
        display: flex;
        width: 40%;
        height: 100%;
        align-content: center;
        justify-content: center;
        margin: auto;

    }


}